body{
background-color:#D1F2EB;
}
.counter{
	color:Black;
font-family:Comic Sans MS;
text-align:center;
margin-top:210px;

}
button{
	font-family:Century Gothic;
}
#id{
		color:White;
font-family:Century Gothic;
}

h1{
	font-size:70px;
}

